html,body {
	position: relative;
	font-family: 'Reenie Beanie', cursive;
	font-family: 'Oswald', sans-serif;
	/*background-color: #2B2B2B;*/
	background: url('background.jpg');
}

/*Hamburger menu for mobile view*/

.header{
	width:100%; 
	background:transparent; 
	height:60px; 
	line-height:60px;
}
.hamburger{
  background:none;
  position:absolute;
  top:0;
  left:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:1.4em;
  cursor:pointer;
  outline:none;
  color: #F3F3F3;
  z-index:10000000000000;
  position: fixed;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:7px 15px 0px 15px;
  color:#f3f3f3;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{z-index:1000000; font-family: oswald; font-size:0.8em; width:100%; background:#f3f3f3;  position:absolute; text-align:center; font-size:18px; color: #2B2B2B;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu li:hover{display: block;    background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#666;}
.menu ul li a:hover {  color: #666; text-decoration:none;}
.menu a{text-decoration:none; color:#2B2B2B;}
.menu a:hover{text-decoration:none; color:#666;}

.glyphicon-home{
  color:#F3F3F3; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}

header{display:inline-block; font-size:12px;}
span{padding-left:20px;}
a{color:#336699;}

/*end hamburger menu*/

/*NAV BAR*/

#nav-bar {
}

#nav-left {
	float: left;
	padding: 30px;
	position: fixed;
	z-index: 3;
}

#nav-right {
	display: flex;
	flex-direction: row;
	position: fixed;
	right: 0;

}

.nav-element-left {
	font-family: reenie beanie; 
	font-size: 26px;
	color: #F3F3F3;
	position: relative;
	display: inline-block;
	text-decoration: none;
}


.nav-element {
	font-family: reenie beanie; 
	font-size: 26px;
	color: #F3F3F3;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 30px;
	padding-bottom: 10px;
	position: relative;
	display: inline-block;
	text-decoration: none;
	text-align: center;
}


.nav-element:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: #F3F3F3;
  visibility: hidden;
  border-radius: 50px;
  transform: scaleX(0);
  transition: .25s linear;
  text-align: center;
}
.nav-element:hover:before,
.nav-element:focus:before {
  visibility: visible;
  transform: scaleX(1);
  }
.nav-element::after {
  top: 62.5%;
  height: 2px;
  width: 90%;
}



.nav-element:hover {
	cursor: pointer;
}

#line hr{
	position: fixed;
}

/*SOCIAL ICONS*/


.icon{
	display: flex;
	flex-direction: row;
	position: relative;
	margin:20px;
}

.icon:hover {
	cursor: pointer;
}

#social {
	overflow: hidden;
	position: relative;
	top: 100px;
}


/*CONTENT*/


#content {
	position: absolute;
	width: 66%;
	left: 17%;
	right: 17%;
	height: 500px;
	top: 70px;
	overflow: hidden;
	justify-content: center;
}

.img img {
	border-radius: 50%;
	position: relative;
	top: 50px;
	width: 300px;
	height: auto;
}

.title {
	font-family: oswald;
	font-size: 36px;
	color: #F3F3F3;
	position: relative;
	bottom: 200px;
	left: 350px;
	z-index: 2;
	text-decoration: none;
	display: inline-block;
}

.title:hover {
	cursor: pointer;
}

.title::after {
  content: "";
  height: 20px;
  width: 100%;
  padding: 0px 4px;
  background: #B8433B;
  opacity: .4;
  display: block;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  transition: 0.2s;
}

.title:hover::after {
  height: 50%;
  padding: 2px 4px;
  opacity: .6;
}

.text {
	font-family: reenie beanie; 
	font-size: 26px;
	letter-spacing: 1px;
	color: #F3F3F3;
	width: 60%;
	height: 110px;
	margin-top: 2%;
	margin-bottom: 2%;
	position: relative;
	bottom: 200px;
	left: 350px;
	/* add later display: inline-block;	*/
}


.button {
	font-size: 24px;
	color: #F3F3F3;
	font-family: oswald;
	text-decoration: none;
	position: relative;
	bottom: 180px;
	left: 85%;
}

.button:hover {
	cursor: pointer;
}

.button::after {
  content: "";
  height: 12px;
  width: 100%;
  padding: 0px 4px;
  background: #B8433B;
  opacity: .4;
  display: block;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  transition: 0.2s;
}

.button:hover::after {
  height: 50%;
  padding: 2px 4px;
  opacity: .6;
}

.wb::after {
  background: #B8433B;
}

.kaleidoscope::after {
  background: #3BA9B8;
}

.jsx::after {
  background: #6BB83B;
}

.btw::after {
  background: #FFF500;
}

.amalgamation::after {
  background: #3BB875;
}

.about::after {
  background: #813BB8;
}

.contact::after {
  background: #B8863B;
}




/*LOWER NAV- page names and numbers*/

#lower-nav {
	position: relative;
	bottom: 25%;
	overflow: hidden;
}


#project-name {
	font-family: reenie beanie; 
	font-size: 36px;
	color: #F3F3F3;	
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 12pt;
}

.project-name1 {
	width: 16.66%;
	opacity: 0;

}
.project-name2 {
	width: 16.66%;
	opacity: 0;
}
.project-name3 {
	width: 16.66%;
	opacity: 0;
}
.project-name4 {
	width: 16.66%;
	opacity: 0;
}
.project-name5 {
	width: 16.66%;
	opacity: 0;
}
.project-name6 {
	width: 16.66%;
	opacity: 0;
}
.project-name7 {
	width: 16.66%;
	opacity: 0;
}

#project-page {
	display: flex;
	font-size: 36px;
	color: #F3F3F3;
	flex-direction: row;
	justify-content: space-between;

}

#project-page div {
	overflow: hidden;
}

/*KALEIDOSCOPE PAGE*/

.page1 {
	font-family: oswald;
	font-size: 36px;
	color: #F3F3F3;
	text-decoration: none;
	width: 16.66%;
	justify-content: end;
}

.page1:hover {
	cursor: pointer;
}
.page1::after {
  content: "";
  height: 16px;
  width: 2%;
  padding: 0px 4px;
  background: #F3F3F3;
  opacity: 0;
  display: block;
  position: absolute;
  bottom: 5px;
  left: 0;
  z-index: -1;
  transition: 0.4s ease-in-out;
}
.page1:hover::after {
 width: 15%;
 height: 20px;
 padding: 2px 4px;
 background: #3BA9B8;
 opacity: .4
}



/*JSX page*/
.page2 {
	font-family: oswald;
	font-size: 36px;
	color: #F3F3F3;
	text-decoration: none;
	width: 16.66%;
	justify-content: end;
}

.page2:hover {
	cursor: pointer;
}
.page2::after {
  content: "";
  height: 16px;
  width: 2%;
  padding: 0px 4px;
  background: #6BB83B;
  opacity: 0;
  display: block;
  position: absolute;
  bottom: 5px;
  left: 16.66%;
  z-index: -1;
  transition: 0.4s ease-in-out;
}
.page2:hover::after {
 width: 15%;
 height: 20px;
 padding: 2px 4px;
 background: #;
 opacity: .4;
 left: 16.66%;
}

/*BTS PAGE*/

.page3 {
	font-family: oswald;
	font-size: 36px;
	color: #F3F3F3;
	text-decoration: none;
	width: 16.66%;
	justify-content: end;
}

.page3:hover {
	cursor: pointer;
}
.page3::after {
  content: "";
  height: 16px;
  width: 2%;
  padding: 0px 4px;
  background: #F3F3F3;
  opacity: 0;
  display: block;
  position: absolute;
  bottom: 5px;
  left: 33.32%;
  z-index: -1;
  transition: 0.4s ease-in-out;
}
.page3:hover::after {
 width: 15%;
 height: 20px;
 padding: 2px 4px;
 background: #FFF500;
 opacity: .4;
 left: 33.32%;
}

/*Amalgamation Page*/


.page4 {
	font-family: oswald;
	font-size: 36px;
	color: #F3F3F3;
	text-decoration: none;
	width: 16.66%;
	justify-content: end;
}


.page4:hover {
	cursor: pointer;
}
.page4::after {
  content: "";
  height: 16px;
  width: 2%;
  padding: 0px 4px;
  background: #F3F3F3;
  opacity: 0;
  display: block;
  position: absolute;
  bottom: 5px;
  left: 49.98%;
  z-index: -1;
  transition: 0.4s ease-in-out;
}
.page4:hover::after {
 width: 15%;
 height: 20px;
 padding: 2px 4px;
 background: #3BB875;
 opacity: .4;
 left: 49.98%;
}


/*WEEKLY BEATS PAGE*/


.page5 {
	font-family: oswald;
	font-size: 36px;
	color: #F3F3F3;
	text-decoration: none;
	width: 16.66%;
	justify-content: end;
}

.page5:hover {
	cursor: pointer;
}
.page5::after {
  content: "";
  height: 16px;
  width: 2%;
  padding: 0px 4px;
  background: #F3F3F3;
  opacity: 0;
  display: block;
  position: absolute;
  bottom: 5px;
  left: 66.58%;
  z-index: -1;
  transition: 0.4s ease-in-out;
}
.page5:hover::after {
 width: 15%;
 height: 20px;
 padding: 2px 4px;
 background: #B8433B;
 opacity: .4;
 left: 66.58%;
}

/*TBA (??) PAGE*/


.page6 {
	font-family: oswald;
	font-size: 36px;
	color: #F3F3F3;
	text-decoration: none;
	width: 16.66%;
	justify-content: end;
}

.page6:hover {
	cursor: pointer;
}
.page6::after {
  content: "";
  height: 16px;
  width: 2%;
  padding: 0px 4px;
  background: #F3F3F3;
  opacity: 0;
  display: block;
  position: absolute;
  bottom: 5px;
  left: 83.24%;
  z-index: -1;
  transition: 0.4s ease-in-out;
}
.page6:hover::after {
 width: 15%;
 height: 20px;
 padding: 2px 4px;
 background: #gray;
 opacity: .4;
 left: 83.24%;
}



/*FOOOTER*/


#footer {
	bottom: 0;
	position: fixed;
	margin-bottom: 5px;
	margin-right: 5px;
	right: 0;
}

.footer {
	font-family: reenie beanie;
	font-size: 14px;
	color: #F3F3F3;
}


/*MEDIA QUERY ULTIMATE RESPONSIVENESS*/

@media (max-width: 1187px) {
		#content {
		width: 100%;
		left: %;
		right: ;
		}
}

@media (min-width: 801px) {
	.hamburger, .cross, .menu, .header {
		display: none;
	}
}


@media screen and (max-width: 700px)  {

		.nav-element-left {
			font-size: 36px;
			position: fixed;
		}

		#nav-left {
			padding-top: 5px;
			position: relative;
			bottom: 65px;
			left: 5px;
		}

		.nav-element {
			visibility: hidden;
		font-size: 36px;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 40px;
		padding-bottom: 10px;
		}


		

		.img img {
			width: 50%;
			justify-content: center;
			position: relative;
			top: 0px;
			left: 5%;
			right: 5%;

		}
		

		.title {
			font-size: 36px;
			justify-content: center;
			position: relative;
			top: 50px;
			left: 5%;
			right: 5%;
			width: 50%;


		}

		.text {
			justify-content: center;
			text-align: center;
			position: relative;
			top: 10%;
			left: 5%;
			right: 5%;
			padding-bottom: 200px;
			width:
			font-size: 32px;
			margin: 0px;
		}

		.button {
			justify-content: center;
			position: relative;
			top: 100px;
			left: 20%;
			right: 20%;
			visibility: hidden;
		}

		#project-page, #footer, .button, #social,#line hr {
			visibility: hidden;
			overflow: hidden;
		}

	
		#content {
			height: 350%;
			overflow: hidden;
			
		}

		/*#content {
		width: 100%;
		left: %;
		right: ;
		overflow: visible;
		}*/
}
